
.section1-container{
    max-width: 1920px;
    height: auto;
}

.backdrop-container{
    width: 100%;
    position: relative;
}
.backdrop-container img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    object-position: top;
}

.shadow{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px; /* Altura de la sombra */
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0) 100%);
}

.section2-container{
    width: 65%;
    margin: 0 auto;
    display: flex;
}
.info-container-left{
    width: 25%;
}
.poster-container{
    position: relative;
    width: 100%;
    height: 20px;
    background-color: blueviolet;
}
.poster-container img{
    position: absolute;
    height: 350px;
    width: 250px;
    top: -250px;
    right: 50%;
    transform: translateX(50%);
}

.info-container-right{
    width: 75%;
    position: relative;
    background-color: brown;
}
.title-container{
    position: absolute;
    top: -100px;
    
}
.title-movie{
    font-weight: 600;
}

.average-container{
    padding-top: 8rem;
}

.average-movie{
    background-color: aqua;
    width: 90px;
    height: 90px;
    margin: 0 auto;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #fff;
    font-size: 1.2rem;
    font-weight: 800;
}
