.genre-list{
    list-style: none;
}

.genre-item{
    width: 100%;
    padding: 10px 15px;
    margin: 15px 0;
    cursor: pointer;
    border-radius: 12px;
}

a{
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
    text-decoration: none;
    width: 100%;
}
.genre-item:hover{
    color: var(--magenta-color);
    background-color: var(--dark-color);
}

.active{
    color: var(--magenta-color);
    background-color: var(--dark-color);
}