.genre-list{
    list-style: none;
}

.genre-item{
    font-size: 1.2rem;
    width: 100%;
    font-weight: 600;
    padding: 10px 15px;
    margin: 15px 0;
    color: #fff;
    cursor: pointer;
    border-radius: 12px;
}

.genre-item:hover{
    color: #eb007a;
    background-color: #191919;
}