.pagination-container{
    position: absolute;
    background-color: var(--gray-color);
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    width: fit-content;
    bottom: -100px;
    left: 50%;
    transform: translateX(-50%);
}

.page-item-container{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arrow{
    font-size: 1.3rem;
}
.page-item-color{
    background-color: var(--magenta-color);
}

